 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">

    <title> {%block title%}  {%endblock%}</title>
    <meta name="keywords" content="{% block keywords %} Ana Sayfa Anahtar kelimeler {% endblock %}">
    <meta name="description" content="{% block description %} Ana Sayfa description kelimeler {% endblock %}">

   {% block head %} {% endblock %}

</head>

<body>

{% include 'header.html'%}

</body>
{% block slider %} {% include 'slider.html'%} {% endblock %}
{% block sidebar %} {% include 'sidebar.html'%} {% endblock %}
{% block body %} {% include 'content.html'%} {% endblock %}
{% block footer %}  {% include 'footer.html'%}  {% endblock %}

</html>