
{% load static %}



	<section id="slider"><!--slider-->
    {% if permision == 1  %}

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>



						<div class="carousel-inner">

                             {% for rs in sliderdata %}

							<div class="item {% if forloop.counter == 1 %} active{% endif %}">


								<div class="col-sm-6">
									<h1><span>{{ rs.description }}</span></h1>
									<h2>{{ rs.yazar }}</h2>
									<p style="color:darkred; "><span><strong> {{ rs.yayinEvi}} </strong> </span></p>
									<a href="/product/{{ rs.id }}"> <button type="button" class="btn btn-default get">GİT</button> </a>
								</div>
								<div class="col-sm-6">
									<img src="{{ rs.image.url }}" class="girl img-responsive" alt="" style="height: 350px " />

								</div>



							</div>
                            {% endfor %}



						</div>


                 <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next" >
							<i class="fa fa-angle-right" style="margin-left: 110%;"></i>
						</a>
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>


					</div>

				</div>
			</div>
		</div>

{% endif %}
	</section><!--/slider-->

